<style is:global>
	.logo {
		font-size: 0;
        vertical-align: bottom;
	}
</style>
<a id="logo-link" href=/cryptid/>
    <img src="/cryptid/images/onlyicandefinemyself.png" class="logo" width="257" height="62" alt="onlyicandefinemyself" />
</a>