#body a {
    color: #ffd400;
    text-decoration: none;
}

#body a:hover {
    text-decoration: underline;
}

html, body {
    height: 100%;
}

body {
    background: #121313;
    background-image: url("/images/gradiento.gif");
    background-image: linear-gradient(to bottom, #444444, #121313);
    /* background-image: url("/images/gradiento.gif"); */
    background-repeat: repeat-x;
    background-size: 1px 512px;
    color: white;
    font-family: monospace;
    font-size: 14px;
    max-width: 900px;
    margin: auto;
}

#header {
    background: black;
    padding: 8px;
    padding-bottom: 0px;
    border: 1px solid black;
    border-bottom: 2px solid #ffd400;
    z-index: 2;
    position: relative;
}

#body {
    position: relative;
    padding: 12px 16px;
    border: 1px solid black;
    border-top: none;
    margin: 0px;
    background: url("/images/tile.png");
    background: repeating-conic-gradient(rgba(255, 255, 255, 0.0156862745) 0% 25%, rgba(132, 132, 132, 0.10980392156) 25% 50%) 50% / 64px 64px;
    background-position: 0 0, 0 32px, 32px -32px, -32px 0px;
    z-index: 1;
}

@media (max-width: 900px) {
    #body {
        border-left: none;
        border-right: none;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    margin-bottom: 8px;
}
#body *:last-child {
    margin-bottom: 0px;
}